{% extends "_base.html" %}
{% block content %}
    <div class="container">

        <!-- Main component for a primary marketing message or call to action -->
        <div class="jumbotron">
            <h1>DICOM File Store</h1>

            <p>This is a (google-like) searchable repository for DICOM files.</p>

            <p>
                {% if files_in_store %}
                    There are at least {{ files_in_store }} files stored here. You may:
                    <a class="btn btn-lg btn-primary" href="/files/api" role="button">View available files (Uses REST API)</a>
                    or
                    <a class="btn btn-lg btn-primary" href="/files/upload" role="button">Upload new files »</a>
                {% else %}
                    There are no files stored so far. Please:
                    <a class="btn btn-lg btn-primary" href="/files/upload" role="button">Upload new files »</a>
                {% endif %}
                {% if backend_error %}
                    <h1>Backend error</h1>
                    <pre> {{ backend_error }} </pre>
                {% endif %}
            </p>
        </div>

    </div> <!-- /container -->
{% endblock %}

