{% extends "_base.html" %}
{% block content %}
    <div class="container">
        <h1>REST API to retrieve list of DICOM files</h1>

        <p>This JSON is the result of a GET to <a href="https://dicom-store.appspot.com/_ah/api/ds/v0/dicom_files">https://dicom-store.appspot.com/_ah/api/ds/v0/dicom_files.</a>
        </p>

        <p>You can also use the API Explorer <a href="https://dicom-store.appspot.com/_ah/api/explorer">here</a>
    <pre>
        {{ json_response }}
     </pre>
    </div> <!-- /container -->
{% endblock %}
