{% extends "_base.html" %}
{% block content %}
    <div class="container">
        <form class="navbar-form" role="search">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search" name="q">

                <div class="input-group-btn">
                    <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                </div>
            </div>
            {% if search_fields %}
                <div class="well">
                    <p>Use <a href="https://cloud.google.com/appengine/docs/python/search/query_strings" target="_blank">google query
                        syntax</a>
                    </p>

                    <p>Available search fields:</p>
                    {% for field in search_fields %}
                        <span class="badge">{{ field }}</span>
                    {% endfor %}
                </div>
            {% endif %}
        </form>
        {% if google_search_error %}
            <p>There was an error calling the backend search engine: {{ google_search_error }}</p>
        {% else %}
            <p><span class="badge">{{ total_results }}</span> files found</p>

            <table class="table table-striped">
                <thead>
                <tr>
                    <th>File</th>
                    <th>Created</th>
                    <th>Size</th>
                    <th>Tags</th>
                </tr>
                </thead>
                <tbody>
                {% for dicom_file in file_list %}
                    <tr>
                        <td>
                            <div class="media">
                                <a class="pull-left" href="/files/{{ dicom_file.doc_id }}/">
                                    <img class="media-object" src="" alt="">{{ dicom_file.doc_id }}
                                </a>

                                <div class="media-body">
                                    <h4 class="media-heading">{{ dicom_file.fields.requested_procedure_description }}</h4>

                                    <p>Modality: {{ dicom_file.fields.modality }}</p>
                                </div>
                            </div>
                        </td>

                        <td>{{ dicom_file.fields.creation }}</td>
                        <td>{{ dicom_file.fields.size }} bytes</td>
                        <td>{{ dicom_file.fields.tags }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div> <!-- /container -->
{% endblock %}
