{% extends "_base.html" %}
{% block staticfiles %}
    {% load staticfiles %}
    <link href="{% static 'files/css/dropzone.css' %}" type="text/css" rel="stylesheet"/>
{% endblock %}
{% block content %}
    <form role="form" id="my-dropzone" class="dropzone" action="{{ upload_url }}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="dropzone-previews"></div>
        <!-- this is were the previews should be shown. -->
        <div class="form-group">
            <input type="text" class="form-control" id="tags" name="tags" placeholder="Enter some tags">
            <input type="hidden" id="tags-added" name="tags-added"/>
        </div>
        <hr/>
        <button type="submit" class="btn btn-default">Submit data and files!</button>
    </form>

    {#    modal dialog definition#}
    <div class="modal fade" id="pleaseWaitDialog" data-backdrop="static" data-keyboard="false">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="well">
                    <div class="modal-header">
                        <p>Processing... this may take about a minute for each file. Page will redirect when finished.</p>
                    </div>
                    <div class="modal-body">
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0"
                                 aria-valuemax="100"
                                 style="width: 100%">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block scripts %}
    <script src="{% static 'files/js/dropzone.js' %}"></script>
    <script type="text/javascript">

        {#    modal dialog script#}
        var myApp;
        myApp = myApp || (function () {
            var pleaseWaitDiv = $('#pleaseWaitDialog');
            return {
                showPleaseWait: function () {
                    pleaseWaitDiv.modal();
                },
                hidePleaseWait: function () {
                    pleaseWaitDiv.modal('hide');
                }
            };
        })();


        {#    dropzone component script #}
        Dropzone.options.myDropzone = {
            autoProcessQueue: false,
            uploadMultiple: true,
            parallelUploads: 100,
            maxFiles: 100,
            acceptedFiles: 'application/dicom',

            init: function () {
                var myDropzone = this;

                // First change the button to actually tell Dropzone to process the queue.
                this.element.querySelector("button[type=submit]").addEventListener("click", function (e) {
                    // Make sure that the form isn't actually being sent.
                    e.preventDefault();
                    e.stopPropagation();
                    myDropzone.processQueue();
                });

                // Listen to the sendingmultiple event. In this case, it's the sendingmultiple event instead
                // of the sending event because uploadMultiple is set to true.
                this.on("sendingmultiple", function () {
                    // Gets triggered when the form is actually being sent.
                    // Hide the success button or the complete form.
                    myApp.showPleaseWait();
                });
                this.on("successmultiple", function (files, response) {
                    // Gets triggered when the files have successfully been sent.
                    // Redirect user or notify of success.
                    myApp.hidePleaseWait();
                    window.location.href = '/files';
                });
                this.on("errormultiple", function (files, response) {
                    // Gets triggered when there was an error sending the files.
                    // Maybe show form again, and notify user of error
                    myApp.hidePleaseWait();
                    alert(response);

                });
            }
        };

        // copy tags to hidden field to make it available to the final upload handler
        $(document).ready(function () {
            $('#tags').change(function () {
                $('#tags-added').val($(this).val());
            });
        });

    </script>
{% endblock %}
